body {
  font-size: 14px;
  font-weight: normal;
}

nav.navbar.navbar-expand-lg {
  margin-bottom: 20px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  font-size: 13px;
  font-weight: bold;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer img.brand-icon {
  width: 17px;
  height: 17px;
}

section.user_info {
  padding-bottom: 10px;
  margin-top: 20px;
  text-align: center;
}

section.user_info .gravatar {
  float: none;
  max-width: 70px;
}

section.user_info h1 {
  font-size: 1.4em;
  letter-spacing: -1px;
  margin-bottom: 3px;
  margin-top: 15px;
}

.gravatar {
  float: left;
  max-width: 50px;
  border-radius: 50%;
}

.gravatar_edit {
  margin: 15px auto;
  text-align: center;
}

.gravatar_edit .gravatar {
  float: none;
  max-width: 100px;
}

